# Series

**Q1. Write a Pandas program create number of lists of Series and then convert to one Series.**
<br>Sample Output:<br>
    Original Series of list<br>
    0 [Red, Green, White]<br>
    1 [Red, Black]<br>
    2 [Yellow]<br>

    One Series
    0 Red
    1 Green
    2 White
    3 Red
    4 Black
    5 Yellow

In [1]:
import pandas as pd
s = pd.Series([
['Red', 'Green', 'White'],
['Red', 'Black'],
['Yellow']])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

**Q2. Write a Pandas program create a list of multiple data types and then sort the creat Series.**<br>
['100', '200', 'python', '300.12', '400']

In [2]:
import pandas as pd
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

**Q3. Write a Pandas program to add some data to an existing Series.**

In [3]:
import pandas as pd
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)
print("\nData Series after adding some data:")
new_s = s.append(pd.Series(['500', 'php']))
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

**Q4. Write a Pandas program to get the items of a given series not present in another given series.**<br>
Hint: use isin()

In [4]:
import pandas as pd
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItems of sr1 not present in sr2:")
result = sr1[~sr1.isin(sr2)]
print(result)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

**Q5. Write a Pandas program to generate a random list of normal distribution and create series based upon this. Then compute the minimum, 25th percentile, median, 75th, and maximum of a given series.**<br>
Hint: use percentile()

In [5]:
import pandas as pd
import numpy as np
array = np.random.normal(0.0, 1.0, 20)
num_series = pd.Series(array)
print("Original Series:")
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0    -1.591947
1    -0.199059
2    -0.027836
3    -0.118485
4     1.460491
5    -0.279048
6     0.041132
7    -0.170505
8     0.512079
9     1.460393
10    0.129491
11   -0.670920
12    1.986061
13   -1.186863
14   -1.158134
15   -0.074072
16   -0.777981
17    0.415586
18   -2.041595
19    0.058632
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[-2.04159516 -0.69768536 -0.09627834  0.20101489  1.98606106]

**Q6. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.**

In [6]:
import pandas as pd
series1 = pd.Series(['php', 'python', 'java', 'c#'])
print("Original Series:")
print(series1)
result = series1.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\nFirst and last character of each word to upper case:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

# DataFrame

**Q8. Write a Pandas program to generate a dataframe from a exam data dictionary and then to select the specified columns and rows from the DataFrame.<br>
(i) Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.<br>
(ii) Select the rows where the number of attempts in the examination is greater than 2 and score greater than 15.<br>
(iii) Select the rows the score is between 15 and 20.<br>
(iv) Append a new row 'k' to DataFrame with given values for each column. Now delete the new row and return the original data frame.<br>
(v) Change the name 'James' to 'Suresh' in name column of the data frame.**
<br>
Sample DataFrame:<br>
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 11, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
<br>labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [2]:
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 
             'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 11, 8, 19], 
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# (i) Select 'name' and 'score' columns in rows 1, 3, 5, 6
print(df.loc[['b', 'd', 'f', 'g'], ['name', 'score']])

# (ii) Select the rows where the number of attempts in the examination is greater than 2 and score greater than 15.
print(df[(df['attempts'] > 2) & (df['score'] > 15)])

# (iii) Select the rows the score is between 15 and 20.
print(df[(df['score'] >= 15) & (df['score'] <= 20)])

# (iv) Append a new row 'k' to DataFrame with given values for each column. Now delete the new row and return the original data frame.
df2 = df.append({'name': 'K', 'score': 17, 'attempts': 2, 'qualify': 'yes'}, ignore_index=True)
df2 = df2.drop(df2.index[-1], axis=0)
print(df2)

# (v) Change the name 'James' to 'Suresh' in name column of the data frame.
df2.loc[df2['name'] == 'James', 'name'] = 'Suresh'
print(df2)

      name  score
b     Dima    9.0
d    James   10.0
f  Michael   20.0
g  Matthew   14.5
      name  score  attempts qualify
f  Michael   20.0         3     yes
        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James   10.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura   11.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3     Suresh   10.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura   11.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

C:\Users\saivi\AppData\Local\Temp\ipykernel_1528\2286065865.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df.append({'name': 'K', 'score': 17, 'attempts': 2, 'qualify': 'yes'}, ignore_index=True)

**Q9. Write a Pandas program to iterate over rows in a DataFrame.**

In [3]:
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 
             'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 11, 8, 19], 
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# Iterate over rows using iterrows() method
for index, row in df.iterrows():
    print(index, row['name'], row['score'])

a Anastasia 12.5
b Dima 9.0
c Katherine 16.5
d James 10.0
e Emily 9.0
f Michael 20.0
g Matthew 14.5
h Laura 11.0
i Kevin 8.0
j Jonas 19.0

**Q10. Write a Pandas program to rename a specific column name in a given DataFrame.**

In [4]:
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 
             'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 11, 8, 19], 
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# Rename column 'name' to 'student_name'
df.rename(columns={'name': 'student_name'}, inplace=True)
print(df)

  student_name  score  attempts qualify
a    Anastasia   12.5         1     yes
b         Dima    9.0         3      no
c    Katherine   16.5         2     yes
d        James   10.0         3      no
e        Emily    9.0         2      no
f      Michael   20.0         3     yes
g      Matthew   14.5         1     yes
h        Laura   11.0         1      no
i        Kevin    8.0         2      no
j        Jonas   19.0         1     yes

**Q11. Write a Pandas program to get last n records of a DataFrame.**

In [5]:
import pandas as pd

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 
             'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 11, 8, 19], 
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

# Get the last 3 records
last_3 = df.tail(3)
print(last_3)

    name  score  attempts qualify
h  Laura   11.0         1      no
i  Kevin    8.0         2      no
j  Jonas   19.0         1     yes

**Q12. Write a Pandas program to generate a DataFrame from below test data with columns head 'school_code', 'class', 'name', 'date_of_Birth', 'weight', 'address', 't_id'.<br>
(i) Create a multi Index frame using two columns and using an Index and a column.<br>
(ii) Create a multi Index frame using an Index and a column.**
<img src='Q12.jpg'>

**Q13. Create a hierarchical multi-index dataframe from below two lists:<br>
['sale1', 'sale1', 'sale2', 'sale2', 'sale3', 'sale3', 'sale4', 'sale4'],<br>
['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']<br>
dataframe size is of 8x5 with random values.<br>
(i) Extract a single row from the said dataframe.<br>
(ii) Extract number of rows from the said dataframe.<br>
(iii) Extract a single value from the said dataframe.**

In [32]:
import pandas as pd
import numpy as np
sales_arrays = [['sale1', 'sale1', 'sale2', 'sale2', 'sale3', 'sale3', 'sale4', 'sale4'],
['city1', 'city2', 'city1', 'city2', 'city1', 'city2', 'city1', 'city2']]
sales_tuples = list(zip(*sales_arrays))
sales_index = pd.MultiIndex.from_tuples(sales_tuples, names=['sale', 'city'])
print(sales_tuples)
print("\nConstruct a Dataframe using the said MultiIndex levels: ")
df = pd.DataFrame(np.random.randn(8, 5), index=sales_index)
print(df)
print('============================================')
#(i)
print("\nExtract a single row from the said dataframe:")
print(df.loc[('sale2', 'city2')])
print('============================================')
#(ii)
print("\nExtract number of rows from the said dataframe:")
print(df.loc['sale1'])
print('============================================')
#(iii)
print("\nExtract a single value from the said dataframe:")
print(df.loc[('sale4', 'city1'), 4])

[('sale1', 'city1'), ('sale1', 'city2'), ('sale2', 'city1'), ('sale2', 'city2'), ('sale3', 'city1'), ('sale3', 'city2'), ('sale4', 'city1'), ('sale4', 'city2')]

Construct a Dataframe using the said MultiIndex levels:
                    0         1         2         3         4
sale  city
sale1 city1 -0.228570  1.080099  0.918523 -0.667130 -0.259211
      city2 -0.694472 -0.227572  0.498330  1.875947  0.301567
sale2 city1 -0.515857  0.377916 -0.215729  1.006672 -0.458567
      city2  0.857425 -1.555351 -0.973145 -1.082591 -0.503755
sale3 city1 -0.225082 -1.198565 -0.018392  1.539963 -1.220222
      city2  1.567841 -0.439455  1.785376 -2.625541 -1.714665
sale4 city1  0.314957 -0.600482  1.805598  0.167679  0.970072
      city2  0.764131  1.281945 -0.710782 -0.650146 -1.335518
============================================

Extract a single row from the said dataframe:
0    0.857425
1   -1.555351
2   -0.973145
3   -1.082591
4   -0.503755
Name: (sale2, city2), dtype: float64
============================================

Extract number of rows from the said dataframe:
              0         1         2         3         4
city
city1 -0.228570  1.080099  0.918523 -0.667130 -0.259211
city2 -0.694472 -0.227572  0.498330  1.875947  0.301567
============================================

Extract a single value from the said dataframe:
0.9700715315852899