**Q1. Write a Pandas program to create a dictionary based dataset with city and number of person, and then count city wise number of people from a given of data set.**
<img src='Q1.jpg'>

In [22]:
import pandas as pd
df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Miachel']
({'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angelos']
print(df1)
g1 = df1.groupby(["city"]).size().reset_index(name='Number of people')
#g1 = df1.groupby(["city"]).count()
print(g1)

SyntaxError: invalid syntax (Temp/ipykernel_34164/1793555306.py, line 4)

**Q2. Write a Pandas program to group by the first column and get second column as lists in rows.<br>**
{'col1':['C1','C1','C2','C2','C2','C3','C2'], 'col2':[1,2,3,3,4,6,5]}

In [20]:
import pandas as pd
df=pd.DataFrame({'col1':['C1,C1','C2','C2','C3','C2'],'col2':[1,2,3,4,5,6]})
print("Original DataFrame")
print(df)
df=df.groupby('col1')['col2'].apply(list)
print("\nGroup on col1:")
print(df)

ValueError: All arrays must be of the same length

**Q3. Write a Pandas program to create a dataframe with following information<br>
{'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],<br>
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],<br>
        'attempts': [1, 3, 2, 3, np.nan, 3, 1, 1, 2, 1],<br>
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}<br>
<br>
(i) Identify the column(s) of a given DataFrame which have at least one missing value. [use isna()/isnull()]<br>
(ii) Count the NaN values in each column and then count in totals in DataFrame.<br>
(iii) Drop those rows from a given DataFrame in which spicific columns have missing values, say <u>attempts</u>.<br>
(iv) Replace all the NaN values with Zero's in a column of a dataframe.<br>
(v) Drop a list of rows (2 and 3) from a specified DataFrame and then reset index.<br>**

In [21]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, np.nan, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
df = pd.DataFrame(exam_data)
print("Original DataFrame")
print(df)
#(i)
print('================================================')
print("\nIdentify the columns which have at least one missing value:")
print(df.isna().any())
#(ii)
print('================================================')
print("\nNumber of NaN values in each columns and total:")
print(df.isnull().sum())
print(df.isnull().values.sum())
#(iii)
print('================================================')
print("\nDrop those rows in which specific columns have missing values:")
result = df.dropna(subset=['attempts'])
print(result)
#(iv)
print('================================================')
df = df.fillna(0)
print("\nNew DataFrame replacing all NaN with 0:")
print(df)
#(v)
print('================================================')
print("New DataFrame after removing 2nd & 4th rows:")
df = df.drop(df.index[[2,4]])
print(df)
print("\nReset the Index:")
df=df.reset_index()
print(df)

SyntaxError: invalid syntax (Temp/ipykernel_34164/1080781301.py, line 4)

**Q4. Write a Pandas program to create a information dataset as shown below.<br>
(i) Split (with faction 0.6) the given DataFrame/Dataset into two random subsets and check the shape of each subset. [use <u>sample(frac)</u>]<br>
(ii) Join the two splited dataframes along columns and assign all data.<br>**
<img src='Q4.jpg' width="300" height="300">

**Q5. Write a Pandas program create two seperate student datasets with information like student_id, name, and mark.**
<img src='Q5a.jpg' width="300" height="300">
<img src='Q5b.jpg' width="300" height="300">
**(i) Join the two dataframes using the common column 'student_id' of both dataframes.<br>
(ii)  Join the two dataframes with matching records from both sides where available.**

In [ ]:
import pandas as pd
student_data1 = pd.DataFrame({
'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', '
'marks': [200, 210, 190, 222, 199]})
student_data2 = pd.DataFrame({
'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser Will
'marks': [201, 200, 198, 219, 201]})

**Q6. Write a Pandas program to split a given dataframe into groups and create a new column with count from GroupBy.**
<img src='Q6.jpg' width="200" height="200">

In [ ]:
import pandas as pd
#pd.set_option('display.max_rows', None)
df = pd.DataFrame({
'book_name':['Book1','Book2','Book3','Book4','Book1','Book2','Book3','Book5'],
'book_type':['Math','Physics','Computer','Science','Math','Physics','Computer','Engl
'book_id':[1,2,3,4,1,2,3,5]})

**Q7. Write a Pandas program to split a given dataframe into groups with multiple aggregations.
Split the following given dataframe by school code, class and get mean, max value of height and get sum, min, count value of weight of the school.**
<img src='Q7.jpg' width="500" height="500">

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df = pd.DataFrame({
'school_code': ['s001','s002','s003','s001','s002','s001'],
'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mc
'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/20
'age': [12, 12, 13, 13, 14, 12],
'height': [173, 192, 186, 167, 151, 159],
'weight': [35, 32, 33, 30, 31, 32],
'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])
print("Original DataFrame:")
print(df)
print("\nGroup by with multiple aggregations:")
result = df.groupby(['school_code','class']).agg({'height': ['max', 'mean'],
'weight': ['sum','min','count']})
print(result)